<div class="jumbotron">
</div>

<div class="row marketing">

<datepicker start-date="J_CheckIn_List" ng-start-model="main.arrivalDate" end-date="J_CheckOut_List"
               ng-end-model="main.departureDate">
  <div class="search_item">
    <label>FROM</label>
    <input type="text" id="J_CheckIn_List" placeholder="yyyy-mm-dd"/>
  </div>
  <div class="search_item">
    <label>TO  </label>
    <input type="text" id="J_CheckOut_List" placeholder="yyyy-mm-dd"/>
  </div>
</datepicker>

<p>From : {{main.arrivalDate}}</p>
<p>To: {{main.departureDate}}</p>

</div>
